@model IEnumerable<WebApplication.Models.Task>

@{
    ViewBag.Title = "Tasks";
}

<h2>@(ViewBag.Title)</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.CheckBox("Done", item.Done)
            @Html.Display("Name", item.Name, new { @class = (item.Done ? "stroke" : "") })
        </li>
    }

    @Html.BeginForm("Create"){
    <li>
        @Html.Editor("Name")
        <input typee="submit" value="Create task" />
    </li>
    }
</ul>
